<%- include('../partials/_head.ejs') %>
<%- include('../partials/_navbar.ejs') %>
<%- include('../partials/_message.ejs') %>

    <div class="container">
        <form action="/dpi/update/<%= id %>" method="POST">
            <div class="mb-3">
                <label for="nama" class="form-label">Nama Dpi</label>
                <input type="text" class="form-control" name="nama_dpi" value="<%= nama_dpi %>" required>
            </div>
        <div class="mb-3">
            <label for="nama" class="form-label">Luas</label>
            <input type="text" class="form-control" name="luas" value="<%= luas %>" required>
        </div>
        <div class="">
            <button type="submit" class="btn btn-sm btn-success">simpan</button>
        </div>
    </form>
</div>
<%- include('../partials/_foot.ejs') %>
